<div>
    <a (click)="up()" [routerLink]="['']"><img class="logo" src="/assets/img/logo.png" alt=""></a>
</div>
<div class="navBar-container">
    <a (click)="activButton($event)" href="#aboutMe">About me</a>
    <a (click)="activButton($event)" href="#skills">Skills</a>
    <a (click)="activButton($event)" href="#portfolio">Portfolio</a>
    <a (click)="activButton($event)" href="#contact">Contact</a>
</div>
<input type="checkbox" id="checkbox4" class="checkbox4 visuallyHidden">
<label for="checkbox4">
    <div (click)="openMenu()" class="hamburger hamburger4">
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
        <span class="bar bar4"></span>
        <span class="bar bar5"></span>
    </div>
</label>
<div id="menu">
    <a (click)="activButton($event);" href="#aboutMe">About me</a>
    <a (click)="activButton($event);" href="#skills">Skills</a>
    <a (click)="activButton($event);" href="#portfolio">Portfolio</a>
    <a (click)="activButton($event);" href="#contact">Contact</a>
</div>