<div class="vector"></div>
<div class="socialMedia-scrollDown-continer">
    <div class="social-media-mail-container">
        <img src="assets/img/Vector 1.svg" alt="">
        <a href=""><img src="assets/img/Github button.svg" alt=""></a>
        <a href=""><img src="assets/img/Email button.svg" alt=""></a>
        <a href=""><img src="assets/img/Linkedin button.svg" alt=""></a>
        <span class="e-mail">marvin.buchan&#64;t-online.de</span>
    </div>
    <div class="scroll-arrow-container">
        <div class="scroll-down-container">
            <span>Scroll down</span>
        </div>
        <div class="arrow-container">
            <img src="assets/img/arrow-down-line.svg" alt="">
        </div>
    </div>
</div>
<div class="about-me-text-img">
    <div class="about-me-container">
        <div class="about-me-headline">
            <span>About me</span>
        </div>
        <div class="about-me-description">
            <span>Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.</span>
        </div>
        <div class="personal-info-container">
            <div class="personal-info-img"><img src="assets/img/blub-img.svg" alt=""></div>
            <div class="personal-info-text"><span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span></div>
        </div>
        <div class="personal-info-container">
            <div class="personal-info-img"><img src="assets/img/puzzel.svg" alt=""></div>
            <div class="personal-info-text"><span>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</span></div>
        </div>
    </div>
    <div class="about-me-picture">
        <img class="elipse-img" src="assets/img/elipse.svg" alt="">
        <img src="assets/img/aboutMe-line.svg" alt="">
    </div>
    <img class="aboutMe-purple-shadow" src="assets/img/aboutMe-purple-shadow.svg" alt="">
</div>
