<app-header></app-header>
<div class="hero-page">
    <div>
        <img class="purble-shadow-img" src="assets/img/purble-shadow-img.svg" alt="">
        <img class="green-shadow-img" src="assets/img/green-shadow-img.svg" alt="">
        <img class="hero-img" src="assets/img/hero-character-photo.png" alt="">
    </div>
    <div class="button-text-container">
        <div class="text-container">
            <div class="i-am-container">
                <span class="i-am">I am</span>
            </div>
            <div class="name-job-container">
                <span class="name">Marvin Buchan</span>
                <span class="job">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div>
            <button>Let`s talk!</button>
        </div>
    </div>
</div>