<div id="portfolio" class="projects-headline-container">
    <div class="headline-description-container">
        <div class="headline-line-container">
            <div class="flex-container">
                <div class="small-line"></div>
            </div>
            <div class="headline">Portfolio</div>
            <div class="long-line"></div>
        </div>
        <div class="description">This page is a sample of my work - please feel free to try them out.</div>
    </div>
</div>
<div class="all-projects">
    <div class="project-container">
        <div><img class="img-project" src="assets/img/join-img.png" alt=""></div>
        <div class="project-description">
            <div class="text">
                <div class="titel">Join</div>
                <div class="used-elements">Angular | TypeScript | HTML | CSS | Firebase</div>
                <div class="project-description-text">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</div>
            </div>
            <div class="buttons">
                <button (click)="openWeb('https://marvin-buchan.developerakademie.net/html/board.html')" class="live-test-button">Live test</button>
                <button (click)="openWeb('https://github.com/Marv0711/JOIN')" class="git-button">Github</button>
            </div>
        </div>
    </div>
    <div class="project-container-reverse">
        <div><img class="img-project" src="assets/img/pollo-img.png" alt=""></div>
        <div class="project-description-reverse">
            <div class="text-reverse">
                <div class="titel">El-Pollo-Loco</div>
                <div class="used-elements">JavaScript | HTML | CSS</div>
                <div class="project-description-text">A simple Jump-and-Run game based on an object-oriented approach. Help El-Pollo-Loco to find coins and poison bottles to fight against the killer chicken.</div>
            </div>
            <div class="buttons">
                <button (click)="openWeb('http://marvin-buchan.developerakademie.net/ELPolloLocco/index-elpolloloco.html')" class="live-test-button">Live test</button>
                <button (click)="openWeb('https://github.com/Marv0711/El-Pollo-Loco')" class="git-button">Github</button>
            </div>
        </div>
    </div>
    <div class="project-container">
        <div><img class="img-project" src="assets/img/ringoffire-img.png" alt=""></div>
        <div class="project-description">
            <div class="text">
                <div class="titel">Ring of Fire</div>
                <div class="used-elements">Angular | TypeScript | HTML | CSS | Firebase</div>
                <div class="project-description-text">Ring of Fire: Card-based drinking game with rule-assigned actions</div>
            </div>
            <div class="buttons">
                <button (click)="openWeb('https://ring-of-fire-237a9.web.app/')" class="live-test-button">Live test</button>
                <button (click)="openWeb('https://github.com/Marv0711/Ring-of-fire')" class="git-button">Github</button>
            </div>
        </div>
    </div>
    <img class="purple-shadow" src="assets/img/project-purple-shadow.svg" alt="">
    <div class="project-container-reverse">
        <div><img class="img-project" src="assets/img/pokedex-img.png" alt=""></div>
        <div class="project-description-reverse">
            <div class="text-reverse">
                <div class="titel">Pokédex</div>
                <div class="used-elements">JavaScript | HTML | CSS | Api</div>
                <div class="project-description-text">Based on the PokéAPI a simple library that provides and catalogues pokemon information.</div>
            </div>
            <div class="buttons">
                <button (click)="openWeb('https://marvin-buchan.developerakademie.net/Pokedex/index1.html')" class="live-test-button">Live test</button>
                <button (click)="openWeb('https://github.com/Marv0711/Pokedex')" class="git-button">Github</button>
            </div>
        </div>
    </div>
    <img class="green-shadow" src="assets/img/projects-gren-shadow.svg" alt="">
</div>