<div class="headline-vector">
    <img src="assets/img/LINE 5.svg" alt="">
    <div id="contact">Contact</div>
</div>
<div class="text-form">
    <div class="contact-text">
        <div class="contact-text-headline">Got a problem to solve?</div>
        <div class="contact-text-small">
            <div>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</div>
            <div>Need a Frontend developer? <strong>Contact me!</strong></div>
        </div>
    </div>
    <div class="contact-form">
        <form onsubmit="; return false;">
            <div class="input-container">
                <input (focus)="checkInput($event, 'showIconName')" (input)="checkInput($event, 'showIconName')" type="text" placeholder="Your name" required>
                <img *ngIf="showIconName && nameFirstClick" src="assets/img/error.svg" alt="">
                <img *ngIf="!showIconName && nameFirstClick" src="assets/img/ok.svg" alt="">
            </div>
            <div class="input-container">
                <input (focus)="checkInput($event, 'showIconEmail')" (input)="checkInput($event, 'showIconEmail')" required type="email" placeholder="Your email">
                <img *ngIf="showIconEmail && EmailFirstClick" src="assets/img/error.svg" alt="">
                <img *ngIf="!showIconEmail && EmailFirstClick" src="assets/img/ok.svg" alt="">
            </div>
            <div class="textarea-container">
                <textarea (focus)="checkInput($event, 'showIconMessage')" (input)="checkInput($event, 'showIconMessage')" required type="text" placeholder="Your message"></textarea>
                <img *ngIf="showIconMessage && MessageFirstClick" src="assets/img/error.svg" alt="">
                <img *ngIf="!showIconMessage && MessageFirstClick" src="assets/img/ok.svg" alt="">
                <div class="resize"></div>
            </div>
            <div class="box-button-container">
                <div class="box-text-container">
                    <div>
                        <img (click)="checkBoxCklick(); buttonActiv()" class="box-img" *ngIf="!checkboxClicked" src="assets/img/box.svg" alt="">
                        <img (click)="checkBoxCklick(); buttonActiv()" class="box-img" *ngIf="checkboxClicked" src="assets/img/boxclicked.svg" alt="">
                    </div>
                    <div class="text-container">
                        <p class="normal-text">I've read the&nbsp;</p><a href="">privacy policy</a><p class="normal-text">&nbsp;and agree to the processing of my data as outlined.</p></div>
                    </div>
                <div><button class="disable-design" id="sendMessageButton" [disabled]="isButtonDisabled">Send message :&#41;</button></div>
            </div>
        </form>
        <div class="arrow-over-container"><img class="arrow-up-container"src="/assets/img/arrow-up-line.svg" alt=""></div>
        <img class="shadow" src="assets/img/contact-shadow.svg" alt="">
    </div>
</div>
