.headline-vector {
    display: flex;
    align-items: center;
    gap: 50px;

    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.text-form {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-top: 100px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    padding-left: 110px
}

.contact-text-headline {
    width: 473px;
    color: #FFF;

    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.contact-text-small {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    width: 473px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.input-container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    max-width: 600px;
    border: 1px solid var(--Style-1-Syle-1-a---green-purple-PURPLE, #9747FF);
    padding-right: 25px;
    padding-left: 25px;

    &:hover {
        cursor: pointer;
        border: 1px solid var(--Style-1-Syle-1-a---green-purple-Blue, #1CDAE6);
    }
}

.falseInput {
    border: 1px solid var(--Style-1-Syle-1-a---green-purple-PURPLE, #E61C40) !important;
}

.rightInput {
    border: 1px solid var(--Style-1-Syle-1-a---green-purple-Green, #70E61C) !important;
}

.contact-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    margin-bottom: 60px;


    input {
        display: flex;
        width: 600px;
        height: 25px;
        padding: 15px 0px;
        align-items: center;
        gap: 10px;

        border: none;
        border-radius: 10px;
        background: var(--Style-1-Syle-1-a---green-purple-Blue-bg, #141D2F);

        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: none !important;
            color: white;
            font-family: Poppins;
            font-size: 16px;
        }
    }

    .textarea-container {
        display: flex;
        align-items: flex-start;
        max-width: 600px;
        border-radius: 10px;
        border: 1px solid var(--Style-1-Syle-1-a---green-purple-PURPLE, #9747FF);
        padding: 15px 25px;

        &:hover {
            cursor: pointer;
            border: 1px solid var(--Style-1-Syle-1-a---green-purple-Blue, #1CDAE6);
        }
    }

    textarea {
        display: flex;
        width: 600px;
        height: 202px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 10px;
        border: none;
        background: var(--Style-1-Syle-1-a---green-purple-Blue-bg, #141D2F);
        resize: none;
        color: white;
        font-family: Poppins;
        font-size: 16px;

        &:hover {
            cursor: pointer;
        }

        &:focus-visible {
            outline: none !important;
            color: white;
            font-family: Poppins;
            font-size: 16px;
        }
    }

    ::placeholder {
        color: #FFF;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    form {
        gap: 32px;
        display: flex;
        flex-direction: column;

        &:focus {
            border: none !important;
        }

        &:focus-visible {
            border: none !important;
        }
    }
}

.textarea-container {
    position: relative;
}

.resize {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 13px;
    height: 13px;
    background: url('/assets/img/resize.svg') center center no-repeat;
}

.box-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.box-text-container {
    display: flex;
    padding: 5px 4px;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.text-warning-container{
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    align-items: center;

    a {
        color: var(--Style-1-Syle-1-a---green-purple-PURPLE, #9747FF);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;

        text-decoration: none;
    }
}

.normal-text {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

button {
    display: flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: #70E61C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;

    &:hover {
        background: #9747FF;
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 250ms;
    }

}

.shadow {
    position: absolute;
    z-index: -1;
    left: 0;
}

.arrow-over-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.arrow-up-container {
    display: flex;
    width: 39px;
    height: 39px;
    padding: 8px 8px 7px 7px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 41px;
    border: 2px solid var(--White, #FFF);

    &:hover {
        cursor: pointer;
    }
}

.box-img {
    &:hover {
        background: #183771;
        border-radius: 50%;
        opacity: 0.5;
        cursor: pointer;
    }
}

.disable-design {
    background-color: lightgray;
    cursor: default;

    &:hover {
        background: lightgray;
        cursor: default;
        transform: unset;
        transition-duration: unset;
    }
}

span {
    color: #E61C40;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}