
<div class="hero-page">
    <div class="img-container">
        <img class="both-shadow" src="assets/img/green-shadow-img.svg" alt="">
        <img class="both-shadow" src="assets/img/purble-shadow-img.svg" alt="">
        <img class="hero-img" src="assets/img/hero-character-photo.png" alt="">
    </div>
    <div id="start" class="button-text-container">
        <div class="text-container">
            <div class="i-am-container">
                <span translate class="i-am">I am</span>
            </div>
            <div class="name-job-container">
                <span class="name">Marvin Buchan</span>
                <span class="job">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div>
            <button translate (click)="toContact()">Let's talk!</button>
        </div>
    </div>
</div>
<div class="socialMedia-scrollDown-continer">
    <div class="social-media-mail-container">
        <img class="line" src="assets/img/Vector 1.svg" alt="">
        <a target=”_blank” href="https://github.com/Marv0711"><img src="assets/img/Github button.svg" alt=""></a>
        <a href="mailto:marvin.buchan@t-online.de"><img src="assets/img/Email button.svg" alt=""></a>
        <a target=”_blank”
            href="https://www.linkedin.com/in/marvin-buchan-b8390a2a7/"><img
                src="assets/img/Linkedin button.svg" alt=""></a>
        <a class="e-mail" href="#contact">marvin.buchan&#64;t-online.de</a>
    </div>
    <div class="scroll-arrow-container">
        <div class="scroll-down-container">
            <span *ngIf="translate.currentLang == 'en'" translate>Scroll down</span>
            <span *ngIf="translate.currentLang == 'de'" translate [ngClass]="{ 'scroll-down-german': translate.currentLang == 'de'}">Abwärts rollen</span>
        </div>
        <div class="arrow-container">
            <img src="assets/img/arrow-down-line.svg" alt="">
        </div>
    </div>
</div>