.hero-page {
    display: flex;
    align-items: center;

    @media(max-width: 1500px) {
        flex-direction: column;
    }
}

.img-container {
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}

.both-shadow{
    position: absolute;
    z-index: 0;
    filter: blur(10.5px);

    @media(max-width: 490px) {
        height: 500px;
    }
}

.purble-shadow-img {
    width: 407px;
    height: 608px;
    filter: blur(11.5px);

    @media(max-width: 680px) {
        display: none;
    }
}

.green-shadow-img {
    width: 456px;
    margin-left: -200px;
    filter: blur(5.5px);

    @media(max-width: 680px) {
        display: none;
    }
}

.hero-img {
    width: 500px;
    height: 705px;
    z-index: 1;
    @media(max-width: 490px) {
        width: 400px;
        height: 605px;
    }
    @media(max-width: 411px) {
        width: 330px;
        height: 505px;
    }
}

.vector{
    position: absolute;
    z-index: 2;
    width: 100%;
    left: 0;
    right: 0;
}

.button-text-container {
    margin-left: -130px;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    margin-left: 20px;

    @media(max-width: 550px) {
        margin-left: 0px;
    }

}

.text-container {
    display: inline-flex;
    align-items: center;
    gap: 35px;

    @media(max-width: 1500px) {
        gap: 10px;
    }
}

.i-am-container {
    transform: rotate(-90deg);
    text-align: center;

    @media(max-width: 450px) {
        display: none;
    }
}

.i-am {
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    color: white;

    @media(max-width: 1500px) {
        font-size: 32px;
    }

    @media(max-width:450px) {
        font-size: 29px;
    }
}

.name-job-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media(max-width:450px) {
        text-align: center;
        span{
            width: 100%;
        }
    }
    @media(max-width:412px) {
        margin-top: 25px;
    }
}

.name {
    color: white;
    font-family: Poppins;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    @media(max-width: 1500px) {
        font-size: 45px;
    }
}

.job {
    color: #9747FF;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;

    @media(max-width: 1500px) {
        font-size: 29px;
    }
}

button {
    display: inline-flex;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #70E61C;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;

    color: white;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    border: none;

    &:hover {
        background: #9747FF;
        cursor: pointer;
        transform: scale(1.1);
        transition-duration: 250ms;
    }

    @media(max-width:1500px) {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

.socialMedia-scrollDown-continer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
    max-width: 1920px;

    a {
        &:hover {
            transform: scale(1.5);
            transition-duration: 250ms;
        }
    }
}

.social-media-mail-container {
    display: flex;
    align-items: center;
    gap: 42px;
    flex-shrink: 0;
    z-index: 3;
}

.scroll-arrow-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    transform: rotate(90deg);
    z-index: 3;

    img {
        transform: rotate(-90deg);
    }

    @media(max-width: 860px) {
        display: none;
    }
}

.scroll-down-container {
    color: white;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.arrow-container {
    width: 24px;
    height: 24px;
}

.e-mail {
    color: white;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transform: none !important;

    @media(max-width: 860px) {
        display: none;
    }
}

.line {
    @media(max-width: 860px) {
        width: 64px;
    }
}

.shape-container{
    background-size: cover;
    width: 100%;
}