<div class="vector"></div>
<div class="socialMedia-scrollDown-continer">
    <div id="aboutMe" class="social-media-mail-container">
        <img class="line" src="assets/img/Vector 1.svg" alt="">
        <a target=”_blank” href="https://github.com/Marv0711"><img src="assets/img/Github button.svg" alt=""></a>
        <a href="mailto:marvin.buchan@t-online.de"><img src="assets/img/Email button.svg" alt=""></a>
        <a target=”_blank” href="https://www.linkedin.com"><img src="assets/img/Linkedin button.svg" alt=""></a>
        <a class="e-mail" href="#contact">marvin.buchan&#64;t-online.de</a>
    </div>
    <div class="scroll-arrow-container">
        <div class="scroll-down-container">
            <span translate>Scroll down</span>
        </div>
        <div class="arrow-container">
            <img src="assets/img/arrow-down-line.svg" alt="">
        </div>
    </div>
</div>
<div class="about-me-text-img">
    <div class="about-me-container">
        <div class="about-me-headline">
            <span translate class="headline">About me</span>
        </div>
        <div class="about-me-description">
            <span translate>Hello, I am a Frontend Developer based in Dresden, Germany. Originally coming from the IT field, I made the transition to software development with the help of a bootcamp, discovering my passion for crafting engaging and user-friendly user interfaces along the way.</span>
        </div>
        <div class="personal-info-container">
            <div class="personal-info-img"><img src="assets/img/blub-img.svg" alt=""></div>
            <div class="personal-info-text"><span translate>When I'm not in front of a screen, I enjoy spending time with my family and friends. Shared laughter and the creation of lasting memories are precious moments for me. Life is made up of a fascinating blend of digital pixels and personal connections. I look forward to incorporating this perspective into my work.</span></div>
        </div>
        <div class="personal-info-container">
            <div class="personal-info-img"><img src="assets/img/puzzel.svg" alt=""></div>
            <div class="personal-info-text"><span translate>At the same time, I appreciate the simplicity of everyday life and the ability to overcome complex problems through thoughtful thinking. In the world of zeros and ones, I seek elegant solutions that are not only functional but also tailored to the end user.Part-time, I am studying Cyber Security on the IU. The constantly advancing nature of the IT landscape fascinates me, and I am enthusiastic about deepening my knowledge to contribute to the security of future digital spaces.</span></div>
        </div>
    </div>
    <div class="about-me-picture">
        <img class="elipse-img" src="assets/img/elipse.svg" alt="">
        <img src="assets/img/aboutMe-line.svg" alt="">
    </div>
    <img class="aboutMe-purple-shadow" src="assets/img/aboutMe-purple-shadow.svg" alt="">
</div>
