<div [ngClass]="{ 'fly-in': scrolled == 1 }" class="fly-in-element">
    <div class="vector"></div>
    <div class="socialMedia-scrollDown-continer">
        <div id="aboutMe" class="social-media-mail-container">
            <img class="line" src="assets/img/Vector 1.svg" alt="">
            <a target=”_blank” href="https://github.com/Marv0711"><img src="assets/img/Github button.svg" alt=""></a>
            <a href="mailto:marvin.buchan@t-online.de"><img src="assets/img/Email button.svg" alt=""></a>
            <a target=”_blank” href="https://www.linkedin.com"><img src="assets/img/Linkedin button.svg" alt=""></a>
            <a class="e-mail" href="#contact">marvin.buchan&#64;t-online.de</a>
        </div>
        <div class="scroll-arrow-container">
            <div class="scroll-down-container">
                <span translate>Scroll down</span>
            </div>
            <div class="arrow-container">
                <img src="assets/img/arrow-down-line.svg" alt="">
            </div>
        </div>
    </div>
    <div class="about-me-text-img">
        <div class="about-me-container">
            <div class="about-me-headline">
                <span class="headline">{{ 'About me' | translate }}</span>
            </div>
            <div class="about-me-description">
                <span translate>INTRO</span>
            </div>
            <div class="personal-info-container">
                <div class="personal-info-img"><img src="assets/img/blub-img.svg" alt=""></div>
                <div class="personal-info-text"><span translate>FACT_1</span></div>
            </div>
            <div class="personal-info-container">
                <div class="personal-info-img"><img src="assets/img/puzzel.svg" alt=""></div>
                <div class="personal-info-text"><span translate>FACT_2</span></div>
            </div>
        </div>
        <div class="about-me-picture">
            <img class="elipse-img" src="assets/img/elipse.svg" alt="">
            <img src="assets/img/aboutMe-line.svg" alt="">
        </div>
        <img class="aboutMe-purple-shadow" src="assets/img/aboutMe-purple-shadow.svg" alt="">
    </div>
</div>