<div id="skills" class="text-icon-container">
    <div class="allIcons-container">
        <div class="icon-row">
            <div class="icon-container">
                <div><img src="assets/img/Angular.svg" alt=""></div>
                <div class="icon-text">Angular</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/ts.svg" alt=""></div>
                <div class="icon-text">TypeScript</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Javascript.svg" alt=""></div>
                <div class="icon-text">JavaScript</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/html.svg" alt=""></div>
                <div class="icon-text">HTML</div>
            </div>
        </div>
        <div class="icon-row">
            <div class="icon-container">
                <div><img src="assets/img/Firebase.svg" alt=""></div>
                <div class="icon-text">Firebase</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/git.svg" alt=""></div>
                <div class="icon-text">GIT</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/css.svg" alt=""></div>
                <div class="icon-text">CSS</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Api.svg" alt=""></div>
                <div class="icon-text">Rest-Api</div>
            </div>
        </div>
        <div class="icon-row">
            <div class="icon-container">
                <div><img src="assets/img/scrum.svg" alt=""></div>
                <div class="icon-text">Scrum</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Frame.svg" alt=""></div>
                <div class="icon-text">Matrial<br>Design</div>
            </div>
        </div>
    </div>
    <div class="allIcons-container">
        <div class="icon-row-mobile">
            <div class="icon-container">
                <div><img src="assets/img/Angular.svg" alt=""></div>
                <div class="icon-text">Angular</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/ts.svg" alt=""></div>
                <div class="icon-text">TypeScript</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Javascript.svg" alt=""></div>
                <div class="icon-text">JavaScript</div>
            </div>
        </div>
        <div class="icon-row-mobile2">
            <div class="icon-container">
                <div><img src="assets/img/html.svg" alt=""></div>
                <div class="icon-text">HTML</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Firebase.svg" alt=""></div>
                <div class="icon-text">Firebase</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/git.svg" alt=""></div>
                <div class="icon-text">GIT</div>
            </div>
        </div>
        <div class="icon-row-mobile2">
            <div class="icon-container">
                <div><img src="assets/img/css.svg" alt=""></div>
                <div class="icon-text">CSS</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Frame.svg" alt=""></div>
                <div class="icon-text">Matrial<br>Design</div>
            </div>
            <div class="icon-container">
                <div><img src="assets/img/Api.svg" alt=""></div>
                <div class="icon-text">Rest-Api</div>
            </div>
        </div>
        <div class="icon-row-mobile">
            <div class="icon-container">
                <div><img src="assets/img/scrum.svg" alt=""></div>
                <div class="icon-text">Scrum</div>
            </div>
        </div>
    </div>
    <div class="text-button-container">
        <div class="text-container">
            <div class="skill-headline">
                <div>My skills</div>
                <div class="vector-container"><img src="assets/img/vector-skills.svg" alt=""></div>
                <div><img class="shadow-img" src="assets/img/skill-shadow-green.svg" alt=""></div>
            </div>
            <div class="skill-description">I have gained experience in building projects with various front end
                technologies and concepts.</div>
        </div>
        <div class="button-container">
            <button (click)="toContact()">Get in touch</button>
        </div>
    </div>
</div>