body{
    background: #141D2F;
}
app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 100px;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    background-color: #141D2F;
    z-index: 2;

    @media(max-width: 620px) {
        padding: 37px 10px;
    }
}