body{
    background: #141D2F;
}

app-header-section{
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
}

app-gardient-hero-section{
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

app-about-me-section{
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
}

app-my-skills-section{
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
}

app-contact-section{
    max-width: 1920px;
    display: flex;
    margin: 0 auto;
}
